.data-bg {
    
    border-radius: 25px;
    background-color: white;
    list-style-type:none;
    text-align: center;
    padding: 0px;
    
}



.container {
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
padding: 50px;

}

.row {
    margin-bottom: 50px;
   
}
